@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --color-dark-blue: #2C3E50;
    --color-green-pastel: #1ABC9C; 
    --color-white: #fff; 
}

*{
    font-family: "Montserrat";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

a{
    text-decoration: none;
    color: unset;
}

header {
    background-color: var(--color-dark-blue);
    color: var(--color-white);
    height: 100px;
    display: flex;
    justify-content: center;
}

.container {
    width: 100%;
    max-width: 960px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-container h1 {
    margin-bottom: 15px;
    font-size: 18px;
}

.nav-container ul {
    display: flex;
}

.nav-container li {
    list-style-type: none;
    margin: 0 0 0 20px;
}

.nav-container a {
    font-size: 14px;
}

#profile {
    background-color: var(--color-green-pastel);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-white);
}

#profile img {
    margin: 67px 0 37px 0;
    width: 150px;
}

#profile h2 {
    font-size: 2rem;
}

#profile p {
    font-size: 1rem;
    margin-bottom: 64px;
}

#portfolio {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#portfolio h2 {
    margin: 60px 0 20px 0;
    font-size: 2rem;
    color: var(--color-dark-blue);
}

.portifolio-container-imgs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#portfolio img{
    width: 100%;
    max-width: 400px;
    margin: 20px;
    border-radius: 8px;
}

footer {
    background-color: var(--color-dark-blue);
    padding: 29px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-white);
    height: 120px;
}

footer h3{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 13px;
}

footer img{
    width: 32px;
    margin: 0 10px;
}

@media screen and (min-width: 768px) {
    html{
        font-size: 24px;
    }

    .nav-container {
        width: 100%;
        padding: 20px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    .nav-container h1 {
        margin-bottom: 0;
        font-size: 30px;
    }
    
    
    .nav-container li {
        margin: 0 0 0 30px;
    }
    
    .nav-container a {
        font-size: 18px;
    }

    #portfolio img{
        width: 280px;
    }
}